*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.padding-p1{
  padding:3px;
}
.padding-p2{
  padding:6px;
}
.padding-p3{
  padding:9px;
}
.margin-m1{
  margin:3px;
}
.margin-m2{
  margin:6px;
}

.App{

  width:100vw;
  min-height:100vh;

  display:flex;
  justify-content:right;
  /* align-items: center; */

}
